<!-- 親となるテンプレートを継承 -->
{% extends "layout.html" %}


{% block header %}
<div class="container">
    <div class="page-header">
        <h1>カテゴリ：{{category.text}}  <small>欲しいものを安く手に入れよう！</small></h1>
    </div>
</div>
{% endblock header %}

<!-- 親テンプレートのbody要素を書き変え　 -->
{% block main %}
<div class="container">

    <div class="row">

        <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3" id="upload-form">

            <!-- ログイン中ならば追加要素を表示 -->
            {% if session.logged_in %}

            {% endif %}

            <!-- フォーム画面-->
            <form action="{{ url_for('add_entry') }}" method="post" enctype="multipart/form-data">
                <!-- 商品名/金額-->
                <div class="form-group">
                    <label for="exampleInputName1">名前/金額</label>
                    <input name="title" type="text" class="form-control" id="exampleInputName1"
                           placeholder="○○トランシーバー　中古 5000円">
                </div>

                <!-- 本文 name=#text-->
                <div class="form-group">
                    <label for="exampleInputName2">名前/金額</label>
            <textarea name="text" class="form-control" rows="5" id="exampleInputName2" placeholder="
目立った傷・汚れ等はなく、利用にあたって支障はございません。
有効画素数1220万画素、光学式3倍ズームレンズを搭載したモデル。
※製品の詳細はこちらをご覧ください。
fujifilm.jp/support/digitalcamera/download/pack/pdf/ff_finepixj30_mn_j101.pdf
↑商品説明のメーカーHPです。

・カメラ本体
・純正充電池
・充電器（社外品）
・説明書
・CD
・ストラップ
            "></textarea>
                </div>

                <!-- 名前-->
                <div class="form-group">
                    <label for="exampleInputName3">名前</label>
                    <input name="username" type="text" class="form-control" id="exampleInputName3"
                           placeholder="こびと">
                </div>

                <!-- E-mail-->
                <div class="form-group">
                    <label for="exampleInputEmail1">連絡用Email(非公開)</label>
                    <input name="mail" type="mail" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>

                <!-- 削除Password-->
                <div class="form-group">
                    <label for="exampleInputPassword1">削除用パスワード</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Password">
                </div>

                <!-- 掲載が像-->
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input name="file" type="file" id="exampleInputFile" onchange="preview(this)">

                    <div id="preview_field" class="help-block"></div>
                </div>
                <!-- 画像のプレビュー-->

                <!-- 状態の保存-->
                <div class="checkbox">
                    <label><input name="save" type="checkbox">設定を保存する</label>
                </div>

                <!-- 隠しパラメータ-->
                <input name="category" type=hidden value="{{category.name}}">

                <!-- 送信ボタン-->
                <!--<input type="submit" class="btn btn-default">送信</input>-->
                <input type="submit" value="送信">
            </form>

        </div>
        <!-- div upload-form -->
    </div>
    <!--row-->
</div>
<!--container-->

<div class="container">


    <h2>カテゴリ：{{category.text}}</h2>
    {% for entry in entries %}

    <div class="media outline1">
        {% if entry.imgname != '' %}
        <div class="media-left">
            <a href="#">
                <img class="media-object img-w400" src="{{ entry.imagename }}" alt=""/>
            </a>
        </div>
        {% endif %}

        <div class="media-body ">
            <h4 class="media-heading">{{ entry.title}}</h4>

            <p><a href="#">{{ entry.username }}</a> {{entry.timestamp}}</p>
            {{ entry.text | safe }}
        </div>
    </div>

    {% else %}

    {% endfor %}


</div>

{% endblock main %}