<!-- 親となるテンプレートを継承 -->
{% extends "layout.html" %}


<!--ページヘッダ-->
<!--継承用-->
{% block header %}
<div class="container">
    <div class="page-header">
        <h1>売ります  <small>欲しいものを安く手に入れよう！</small></h1>
    </div>
</div>
{% endblock header %}


<!-- 親テンプレートのbody要素を書き変え　 -->
{% block main %}
<div class="container">

<h3>売ります</h3>
<!--  カテゴリ一覧の表示 -->
<ul class="entries">
    {% for category in categories %}
        <!-- カテゴリが存在するとき -->
        <li>
            <b><a href="{{url_for('show_category_page',category_name=category.name)}}">{{ category.text }}</a></b>
            {{safe }}<!-- |safe: jinja2自動エスケープ機能 -->
    {% else %}
        <!--  カテゴリが存在しない時 -->
        <li><em>マジか！　カテゴリなんて無かったんだ…</em>
    {% endfor %}
</ul>
</div>
<!--container-->
{% endblock main %}